@font-face {
  font-family: "Lato Black";
  src: local("Lato-Black"), local("Lato Black"), url("../fonts/Lato-Black.woff2") format("woff2"), url("../fonts/Lato-Black.woff") format("woff");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lato Regular";
  src: local("Lato-Regular"), local("Lato Regular"), url("../fonts/Lato-Regular.woff2") format("woff2"), url("../fonts/Lato-Regular.woff") format("woff");
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Lato Regular", sans-serif;
  font-size: 14px;
}

.container {
  max-width: 1140px;
  width: 90%;
  margin: auto;
}

.header {
  padding: 15px 0;
  background-color: #262D33;
}

.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-menu {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
}

.menu-item a {
  text-decoration: none;
  color: #fff;
  margin: 0 15px;
}

.search-form {
  position: relative;
  width: 270px;
  height: 40px;
}

.search-form input {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: #656B70;
  border-radius: 10px;
  border: none;
  font-size: 14px;
  line-height: 20px;
  padding: 10px 25px;
}

.search-form input::placeholder {
  color: #939699;
}

.search-form button {
  position: absolute;
  right: 15px;
  top: 0;
  width: 40px;
  height: 40px;
  background-image: url(../images/search.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  border: none;
}

.search-form button:hover {
  cursor: pointer;
}

.home {
  background-color: #E5E5E5;
}

.front-page-header {
  background-color: #262D33;
  position: relative;
  padding-top: 30px;
  height: 475px;
}

.hero {
  display: flex;
  overflow: hidden;
  border-radius: 10px;
  min-height: 570px;
  background-color: #ffffff;
  position: relative;
  z-index: 1;
}

.hero .left {
  flex-basis: 75%;
  position: relative;
  padding: 55px 55px 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hero .left::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(64, 48, 61, 0.35);
  z-index: 1;
}

.hero .left .post-thumb {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 0;
  height: 100%;
  object-fit: cover;
}

.hero .left .author {
  display: flex;
  align-items: center;
  text-decoration: none;
  position: relative;
  z-index: 2;
}

.hero .left .author-bio {
  margin-left: 10px;
}

.hero .left .author-name {
  display: block;
  font-size: 14px;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.85);
}

.hero .left .author-rank {
  color: rgba(255, 255, 255, 0.4);
}

.hero .left .author .avatar {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.hero .left .post-text {
  position: relative;
  z-index: 2;
}

.hero .left .post-text .post-title {
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: 0;
  text-align: left;
  color: #ffffff;
  font-family: "Roboto Slab";
  margin-top: 20px;
  margin-bottom: 50px;
  max-width: 590px;
}

.hero .right {
  flex-basis: 25%;
}

.hero .right .recommend {
  margin: 20px 25px;
  font-weight: 900;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
}

.hero .right .posts-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.hero .right .posts-list .post {
  padding: 17px 25px 19px 25px;
  margin: 0;
  border-top: 1px solid #D9DADB;
  min-height: 99px;
  max-height: 100px;
}

.hero .right .posts-list .post:hover {
  background-color: #F5F5F5;
}

.hero .right .posts-list .post-categories {
  padding: 0;
  margin: 0;
  list-style: none;
}

.hero .right .posts-list .post-categories a {
  font-weight: 900;
  font-size: 12px;
  line-height: 15px;
  letter: 0.5px;
  text-transform: uppercase;
  text-decoration: none;
}

.hero .right .posts-list .post-permalink {
  text-decoration: none;
  font-size: 14px;
  line-height: 20px;
  color: #4B5157;
}

.hero .right .posts-list .post .recommend-post-title {
  font-size: 14px;
  line-height: 20px;
  font-family: "Lato Regular", sans-serif;
  margin-bottom: 0;
  margin-top: 8px;
  min-height: 40px;
  font-size: 14px;
  align-items: center;
  color: #4B5157;
}

.hero .right .posts-list .post .recommend-post-item-title {
  font-size: 14px;
  line-height: 20px;
  font-family: "Lato Regular", sans-serif;
  margin-bottom: 0;
  margin-top: 8px;
  min-height: 40px;
  font-size: 14px;
  align-items: center;
  color: #4B5157;
}

.more {
  display: inline-block;
  color: #FFFFFF;
  padding: 10px 50px 10px 20px;
  border-radius: 20px;
  background-color: #4592FF;
  text-decoration: none;
  background-image: url("../images/arrow.svg");
  background-repeat: no-repeat;
  background-position: center right 20px;
}

.more:visited, .more:focuc, .more:hover {
  color: #FFFFFF !important;
}

a.more:visited {
  color: #ffffff;
}

.category-link {
  color: #4592FF;
  text-transform: uppercase;
  font-family: "Lato Black", sans-serif;
  font-size: 12px;
  line-height: 15px;
  text-decoration: none;
  letter-spacing: 0.5px;
  text-align: left;
}

.category-link:visited {
  color: #4592FF;
}

.category-link.web-design {
  color: #FFA34D;
}

.category-link.web-design:visited {
  color: #FFA34D;
}

.category-link.html {
  color: #AC8EE3;
}

.category-link.html:visited {
  color: #AC8EE3;
}

.category-link.css {
  color: #3BBDC4;
}

.category-link.css:visited {
  color: #3BBDC4;
}

.category-link.javascript {
  color: #6E99AE;
}

.category-link.javascript:visited {
  color: #6E99AE;
}

.article-list {
  margin: 0;
  margin-top: 180px;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  background: #30363D;
  border-radius: 10px;
}

.article-item {
  width: 25%;
  display: flex;
  align-items: center;
  padding: 30px 25px 35px;
  position: relative;
}

.article-item:not(:last-child)::after {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  height: 70%;
  width: 1px;
  background: #4B5157;
  display: block;
}

.article-permalink {
  text-decoration: none;
  display: flex;
  align-items: center;
  color: #FFFFFF;
  margin-right: 15px;
}

.article-permalink:hover {
  color: #FFFFFF;
}

.article-permalink-visited {
  color: #6E99AE;
}

.article-title {
  margin: 0;
  font-family: "Lato Black", sans-serif;
  font-size: 14px;
  line-height: 20px;
}

a.article-permalink:visited {
  color: #FFFFFF !important;
}

.main-grid {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.article-grid {
  max-width: 850px;
  margin: 30px 0 60px;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: minmax(min-content, max-content) repeat(2, 1fr);
  grid-gap: 30px;
}

.article-grid-permalink {
  text-decoration: none;
  color: #262D33;
  height: 100%;
}

.article-grid-permalink:hover {
  color: #262D33;
}

.article-grid-item {
  border-radius: 10px;
  background: #fff;
  overflow: hidden;
}

.article-grid-item-1 {
  grid-area: 1 / 1 / 2 / 3;
  padding: 35px 35px 53px;
  position: relative;
}

.article-grid-item-1 .category-name {
  font-family: "Lato Black", sans-serif;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #6E99AE;
}

.article-grid-item-1 .article-grid-thumbnail {
  position: absolute;
  right: 0;
  top: 0;
  width: 50%;
  height: 100%;
  object-fit: cover;
}

.article-grid-item-1 .article-grid-title {
  max-width: 238px;
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  margin: 20px 0 25px;
}

.article-grid-item-1 .article-grid-excerpt {
  max-width: 238px;
  padding: 2px;
  font-family: "Lato Regular", sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #4B5157;
  word-wrap: break-word;
  max-height: 86px;
  margin-bottom: 40px;
}

.article-grid-item-1 .article-grid-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 15px 35px;
  border-top: 1px solid #D9DADB;
  background: #FFFFFF;
}

.article-grid-item-1 .article-grid-info .author {
  display: flex;
  align-items: center;
}

.article-grid-item-1 .article-grid-info .author-avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

.article-grid-item-1 .article-grid-info .author-name {
  max-width: 390px;
  overflow: hidden;
  font-family: "Lato Regular", sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #4B5157;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.article-grid-item-1 .article-grid-info .author-name strong {
  font-family: "Lato Black", sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #262D33;
}

.article-grid-item-1 .article-grid-info .comments {
  display: flex;
  align-items: center;
}

.article-grid-item-1 .article-grid-info .comments-icon-grey {
  fill: #BCBFC2;
}

.article-grid-item-1 .article-grid-info .comments-icon-white {
  fill: #FFFFFF;
}

.article-grid-item-1 .article-grid-info .comments-counter {
  font-size: 12px;
  line-height: 15px;
  color: #939699;
  margin-left: 5px;
}

.article-grid-item-2 {
  grid-area: 1 / 3 / 2 / 4;
  position: relative;
  background-color: transparent;
  z-index: 0;
}

.article-grid-item-2::before {
  content: '';
  position: absolute;
  z-index: 0;
  background: linear-gradient(0deg, rgba(64, 48, 61, 0.35), rgba(64, 48, 61, 0.35));
  width: 100%;
  height: 100%;
}

.article-grid-item-2 .article-grid-permalink {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 25px;
}

.article-grid-item-2 .article-grid-title {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 25px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-top: 23px;
  margin-bottom: 27px;
}

.article-grid-item-2 .article-grid-thumb {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: -1;
}

.article-grid-item-2 .author {
  display: flex;
  align-items: center;
  color: #FFFFFF;
}

.article-grid-item-2 .author-name {
  flex-basis: 100%;
  font-size: 14px;
  line-height: 20px;
  mix-blend-mode: normal;
  opacity: 0.85;
  color: #FFFFFF;
}

.article-grid-item-2 .author-info {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  color: #FFFFFF;
  margin-left: 10px;
}

.article-grid-item-2 .author-info .comments {
  display: flex;
  align-items: center;
}

.article-grid-item-2 .author-info .comments-icon-grey {
  fill: #BCBFC2;
}

.article-grid-item-2 .author-info .comments-icon-white {
  fill: #FFFFFF;
}

.article-grid-item-2 .author-info .comments-counter {
  font-size: 12px;
  line-height: 15px;
  color: #FFFFFF;
  margin-left: 5px;
}

.article-grid-item-2 .author-avatar {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin-right: 10px;
}

.article-grid-item-2 .tag {
  padding: 5px 12px;
  color: #ffffff;
  background: #3DC47E;
  border-radius: 3px;
  font-size: 12px;
  line-height: 15px;
  text-transform: capitalize;
}

.article-grid-item-2 .category-name {
  font-family: "Lato Black", sans-serif;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #E7D9FF;
  margin-top: auto;
}

.article-grid-item-2 .date, .article-grid-item-2 .comments, .article-grid-item-2 .likes {
  opacity: 0.4;
  display: flex;
  align-items: center;
}

.article-grid-item-2 .date:not(:last-child), .article-grid-item-2 .comments:not(:last-child), .article-grid-item-2 .likes:not(:last-child) {
  margin-right: 7px;
}

.article-grid-item-2 .date-counter, .article-grid-item-2 .comments-counter, .article-grid-item-2 .likes-counter {
  margin-left: 5px;
}

.article-grid-item-3 {
  grid-area: 2 / 1 / 4 / 2;
}

.article-grid-item-3 .article-grid-title {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 25px;
  max-width: 213px;
  color: #262D33;
  margin: 15px 25px 30px;
  height: 25%;
}

.article-grid-item-3 .article-thumb {
  height: 73%;
  width: 100%;
  object-fit: cover;
}

.article-grid-item-default .article-grid-permalink {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 25px 25px 30px;
}

.article-grid-item-default .article-grid-title {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 25px;
  max-width: 213px;
  color: #262D33;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
}

.article-grid-item-default .article-grid-excerpt {
  max-width: 238px;
  font-family: "Lato Regular", sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #4B5157;
  word-wrap: break-word;
  max-height: 60px;
  min-height: 60px;
  margin: 5px 0 10px;
  overflow: hidden;
}

.article-grid-item-date {
  font-family: "Lato Regular", sans-serif;
  font-size: 12px;
  line-height: 15px;
  color: #939699;
}

.comments {
  display: flex;
  align-items: center;
}

.comments-icon-grey {
  fill: #BCBFC2;
}

.comments-icon-white {
  fill: #FFFFFF;
}

.comments-counter {
  font-size: 12px;
  line-height: 15px;
  color: #FFFFFF;
  margin-left: 5px;
}

a.article-grid-permalink:visited {
  color: #262D33;
}

body {
  counter-reset: section;
}

.sidebar-front-page {
  margin: 30px 0 0 30px;
  max-width: 263px;
  height: 100%;
  border-radius: 10px;
}

.sidebar-front-page .widget-social-icons {
  padding: 30px 25px 40px;
}

.sidebar-front-page-bottom {
  margin-top: 0;
}

.widget {
  background-color: #fff;
  border-radius: 10px;
}

.widget-title {
  padding: 20px 25px;
  border-bottom: 1px solid #D9DADB;
  text-transform: uppercase;
  margin: 0;
}

.widget-downloader {
  background: #3BBDC4 url("../images/file.svg") no-repeat top 22px right 24px;
  border-radius: 10px;
  color: #FFFFFF;
  padding: 25px 25px 55px;
  position: relative;
}

.widget-downloader .widget-title {
  margin-top: 0;
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 25px;
  border: none;
  text-transform: none;
  padding: 0;
}

.widget-downloader .widget-link {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  padding: 12px 0 13px;
  border-top: 1px solid rgba(255, 255, 255, 0.75);
  color: #ffffff;
  text-decoration: none;
  font-family: "Lato Black", sans-serif;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  justify-content: center;
}

.widget-downloader .widget-link-icon {
  margin-right: 10px;
}

.widget-downloader .description {
  font-family: "Lato Regular", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #C1F4F5;
  margin: 0;
}

.widget-recent-post-wrapper {
  padding: 0 25px 17px;
}

.widget-recent-post a {
  display: flex;
  text-decoration: none;
  padding: 17px 0;
  position: relative;
}

.widget-recent-post a:not(:last-child) {
  border-bottom: 1px solid #D9DADB;
}

.widget-recent-post a:visited {
  color: #4B5157;
}

.widget-recent-post a::before {
  position: absolute;
  top: 22px;
  right: 3px;
  font-family: "Lato Black", sans-serif;
  font-size: 70px;
  line-height: 50px;
  color: #262D33;
  opacity: 0.08;
  font-style: italic;
  counter-increment: section;
  content: counter(section);
}

.widget-recent-post img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  margin-right: 10px;
}

.widget-recent-post-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.widget-recent-post h4 {
  font-family: "Lato Regular", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #4B5157;
  margin: 0 0 5px;
}

.widget-recent-post h4:visited {
  color: #4B5157;
}

.widget-recent-post span {
  font-family: "Lato Regular", sans-serif;
  font-size: 12px;
  line-height: 15px;
  color: #939699;
  margin-top: auto;
}

.widget-recent-post-button {
  font-family: "Lato Black", sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #262D33;
  text-decoration: none;
  cursor: pointer;
  padding-top: 11px;
  padding-bottom: 17px;
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  margin: -38px auto 0;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top: 1px solid #D9DADB;
}

.widget-recent-post-button:visited {
  color: #262D33;
}

.widget .tagcloud {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 25px 25px 30px;
  overflow: hidden;
}

.widget .tag-cloud-link {
  text-decoration: none;
  padding: 5px 15px;
  border: 1px solid #D9DADB;
  box-sizing: border-box;
  border-radius: 5px;
  margin: 0 10px 15px 0;
  font-family: "Lato Black", sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #262D33;
  text-transform: capitalize;
}

.widget-social-icons {
  display: flex;
  flex-direction: column;
}

.widget-social-icons .widget-title {
  margin: 0 auto 25px;
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 25px;
  border: none;
  text-transform: none;
  padding: 0;
  color: #262D33;
}

.widget-social-icons .widget-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.social-network-button {
  display: flex;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  color: #FFFFFF;
}

.facebook {
  background: #4267B2 url("../images/facebook.svg") no-repeat center;
}

.twitter {
  background: #1DA1F2 url("../images/twitter.svg") no-repeat center;
}

.youtube {
  background: #FF0000 url("../images/you-tube.svg") no-repeat center;
}

.instagram {
  background: url("../images/instagram.png") no-repeat center;
}

#recent_post_widget-2 > h2 {
  font-family: "Lato Black", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #262D33;
}

#recent_post_widget-2 > h2:visited {
  color: #262D33;
}

.investigation {
  padding: 50px 0 55px;
  text-align: center;
  margin-bottom: 60px;
}

.investigation-title {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 50px;
  color: #FFFFFF;
  max-width: 946px;
  margin: 0 auto 25px;
}

.container-main-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 1140px;
  width: 90%;
  margin: 0 auto 60px;
}

.bookmark-list {
  margin: 0;
  padding: 0;
  max-width: 850px;
  background: #FFFFFF;
  border-radius: 10px;
}

.bookmark-item {
  margin: 0 25px;
  list-style: none;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  padding: 25px 0;
}

.bookmark-item:not(:last-child) {
  border-bottom: 1px solid #D9DADB;
}

.bookmark-thumbnail {
  width: 30%;
  object-fit: cover;
}

.bookmark-content {
  display: flex;
  flex-direction: column;
  max-width: 560px;
  padding: 0 25px;
}

.bookmark-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.bookmark-title {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 25px;
  color: #262D33;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 15px 0 10px;
  text-decoration: none;
}

.bookmark-excerpt {
  font-family: "Lato Regular", sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #4B5157;
  word-wrap: break-word;
  max-height: 60px;
  min-height: 60px;
  margin: 5px 0 10px;
  text-decoration: none;
}

.bookmark-info {
  font-family: "Lato Regular", sans-serif;
  font-size: 12px;
  line-height: 15px;
  color: #939699;
  display: flex;
  flex-direction: row;
  justify-content: start;
  margin: auto 0 5px;
  text-decoration: none;
}

.category-name {
  font-family: "Lato Black", sans-serif;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  text-decoration: none;
  color: #4592FF;
}

.category-name:visited {
  color: #4592FF;
}

.category-name.web-design {
  color: #FFA34D;
}

.category-name.web-design:visited {
  color: #FFA34D;
}

.category-name.html {
  color: #AC8EE3;
}

.category-name.html:visited {
  color: #AC8EE3;
}

.category-name.css {
  color: #3BBDC4;
}

.category-name.css:visited {
  color: #3BBDC4;
}

.category-name.javascript {
  color: #6E99AE;
}

.category-name.javascript:visited {
  color: #6E99AE;
}

.date, .comments, .likes {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.date:not(:last-child), .comments:not(:last-child), .likes:not(:last-child) {
  margin-right: 10px;
}

.date-counter, .comments-counter, .likes-counter {
  margin-left: 5px;
}

a.bookmark-permalink:visited {
  color: transparent;
  text-decoration: none;
}

.special {
  background-color: #262D33;
  padding: 60px 113px;
  margin: 0 auto;
}

.special-grid {
  display: flex;
  justify-content: space-between;
}

.photo-report {
  min-height: 570px;
  width: 49%;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

.photo-report::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(64, 48, 61, 0.35), rgba(64, 48, 61, 0.35));
  z-index: 1;
}

.photo-report-button {
  background: #4592FF;
  border-radius: 20px;
  font-family: "Lato Black";
  font-size: 14px;
  line-height: 20px;
  color: #FFFFFF;
  text-decoration: none;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.photo-report-button:hover {
  color: #fff;
}

.photo-report-icon {
  fill: #fff;
  margin-right: 8px;
}

.photo-report-content {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-around;
  padding: 18px;
  height: 100%;
}

.photo-report-slider {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.photo-report-slider .swiper-slide {
  height: 100%;
}

.photo-report-slider .swiper-slide img {
  width: 100%;
  height: inherit;
  object-fit: cover;
}

.photo-report-title {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 50px;
  color: #FFFFFF;
}

.photo-report-count {
  margin-left: 8px;
}

.photo-report .category-name {
  background: #3DC47E;
  border-radius: 3px;
  font-family: "Lato Regular", sans-serif;
  font-size: 12px;
  line-height: 15px;
  color: #FFFFFF;
  align-self: start;
  text-transform: none;
  padding: 5px 12px;
  position: absolute;
  left: 18px;
  top: 18px;
}

.photo-report .author {
  text-align: center;
  text-decoration: none;
}

.photo-report .author-name {
  display: block;
  font-family: "Lato Regular", sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.85;
  text-decoration: none;
}

.photo-report .author-rank {
  font-family: "Lato Regular", sans-serif;
  font-size: 12px;
  line-height: 15px;
  color: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.4;
  text-decoration: none;
}

.photo-report .author-avatar {
  border-radius: 50%;
  width: 45px;
  height: 45px;
  object-fit: cover;
  margin-bottom: 8px;
}

.other-posts {
  min-height: 570px;
  width: 49%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  list-style: none;
  text-decoration: none;
}

.other-posts-career {
  display: flex;
  align-items: flex-start;
  margin-bottom: 30px;
  border-radius: 10px;
  width: 100%;
}

.other-posts-career-card {
  width: 100%;
  border-radius: 10px;
  background-color: #B4D1E0;
  background-image: url(../images/career-group.png);
  background-repeat: no-repeat;
  background-position: right center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0 auto;
  padding: 35px 0 48px 35px;
}

.other-posts-career > section > ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

.other-posts-career > section > ul > li {
  text-decoration: none;
}

.other-posts-career > section > ul > li > a {
  font-family: "Lato Black";
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  text-decoration: none;
  list-style: none;
  color: #6E99AE;
}

.other-posts-career > section > ul > li > a:hover {
  text-decoration: none;
  color: #6E99AE;
}

.other-posts-career > section > ul > li > a:visited {
  color: #6E99AE;
}

.other-posts-career-title {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  text-decoration: none;
  color: #262D33;
  width: 42%;
  margin-bottom: 0;
}

.other-posts-career-title:visited {
  color: #262D33;
}

.other-posts-career-excerpt {
  font-family: "Lato Regular", sans-serif;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
  color: #4B5157;
  width: 42%;
  margin-bottom: 42px;
}

.other-posts-career-excerpt:visited {
  color: #4B5157;
}

.other-posts-career-more {
  display: inline-block;
  color: #FFFFFF;
  padding: 10px 20px;
  border-radius: 20px;
  background-color: #4592FF;
  text-decoration: none;
  cursor: pointer;
  margin: 2px;
}

.other-posts-career-more:visited, .other-posts-career-more:focuc, .other-posts-career-more:hover {
  color: #FFFFFF !important;
}

.other-posts-career-icon {
  fill: #ffffff;
  margin-left: 8px;
}

.other-posts-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  width: 100%;
}

.other-posts-bottom-permalink {
  text-decoration: none;
  color: #262D33;
  height: 100%;
}

.other-posts-bottom-permalink:hover {
  color: #262D33;
}

.other-posts-bottom-item {
  border-radius: 10px;
  background: #fff;
  overflow: hidden;
  padding: 25px 25px 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.other-posts-bottom-item:not(:last-child) {
  margin-right: 30px;
}

.other-posts-bottom-title {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 25px;
  text-decoration: none;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #262D33;
}

.other-posts-bottom-title:visited {
  color: #262D33;
}

.other-posts-bottom-excerpt {
  font-family: "Lato Regular", sans-serif;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
  margin: 5px 0 10px;
  color: #4B5157;
}

.other-posts-bottom-excerpt:visited {
  color: #4B5157;
}

.other-posts-bottom-date {
  font-family: "Lato Regular", sans-serif;
  font-size: 12px;
  line-height: 15px;
  text-decoration: none;
  color: #939699;
}

.other-posts-bottom-date:visited {
  color: #939699;
}

body > div.special > div > div.other-posts > div.other-posts-career > section > ul > li > a,
body > div.special > div > div.other-posts > div.other-posts-career > section > ul > li {
  list-style: none;
  text-decoration: none;
  text-transform: uppercase;
}

.footer {
  background-color: #fff;
  padding: 60px 0 55px;
}

.footer-menu {
  border-top: 3px solid blue;
  flex-basis: 100%;
  padding-right: 20px;
}

.footer-menu:nth-child(1) {
  border-top: 3px solid #FF4F52;
}

.footer-menu:nth-child(2) {
  border-top: 3px solid #AC8EE3;
}

.footer-menu:nth-child(3) {
  border-top: 3px solid #4592FF;
}

.footer-menu:nth-child(4) {
  border-top: 3px solid #FFA34D;
}

.footer-menu:nth-child(5) {
  border-top: 3px solid #3DC47E;
}

.footer-menu:nth-child(6) {
  border-top: 3px solid #6E99AE;
}

.footer-menu-title {
  font-family: "Lato Black", sans-serif;
  font-size: 14px;
  line-height: 20px;
  text-align: start;
  margin: 35px 0 25px;
  color: #262D33;
}

.footer-menu-bar {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 50px;
}

.footer-menu .menu, .footer-menu ul {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

.footer-menu .menu:visited, .footer-menu ul:visited {
  color: #262D33;
}

.footer-menu .menu a, .footer-menu ul a {
  display: inline-block;
  font-family: "Lato Regular", sans-serif;
  font-size: 14px;
  line-height: 20px;
  text-align: start;
  margin: 0 0 15px;
  text-decoration: none;
  color: #4B5157;
}

.footer-menu .menu a:visited, .footer-menu ul a:visited {
  color: #4B5157;
}

.footer-info {
  padding: 30px 0;
  border-top: 1px solid #D9DADB;
  border-bottom: 1px solid #D9DADB;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-info ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-info ul a {
  text-decoration: none;
  font-family: "Lato Black", sans-serif;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #262D33;
}

.footer-info ul a:visited {
  color: #262D33;
}

.footer-info > div > div > a.social-network-button:not(:last-child) {
  margin-right: 15px;
}

.footer-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: "Lato Black", sans-serif;
}

.footer-text {
  max-width: 750px;
}

.footer-text-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  font-family: "Lato Regular", sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #939699;
  margin-top: 40px;
}

.footer-text-wrapper p {
  margin: 0 0 25px;
}
