@font-face {
  font-family: "Lato Black";
  src: local("Lato-Black"), local("Lato Black"), url("../fonts/Lato-Black.woff2") format("woff2"), url("../fonts/Lato-Black.woff") format("woff");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lato Regular";
  src: local("Lato-Regular"), local("Lato Regular"), url("../fonts/Lato-Regular.woff2") format("woff2"), url("../fonts/Lato-Regular.woff") format("woff");
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Lato Regular", sans-serif;
  font-size: 14px;
}

.container {
  max-width: 1140px;
  width: 90%;
  margin: auto;
}

.header {
  padding: 15px 0;
  background-color: #262D33;
}

.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-menu {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
}

.menu-item a {
  text-decoration: none;
  color: #fff;
  margin: 0 15px;
}

.search-form {
  position: relative;
  width: 270px;
  height: 40px;
}

.search-form input {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: #656B70;
  border-radius: 10px;
  border: none;
  font-size: 14px;
  line-height: 20px;
  padding: 10px 25px;
}

.search-form input::placeholder {
  color: #939699;
}

.search-form button {
  position: absolute;
  right: 15px;
  top: 0;
  width: 40px;
  height: 40px;
  background-image: url(../images/search.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  border: none;
}

.search-form button:hover {
  cursor: pointer;
}

.home {
  background-color: #E5E5E5;
}

.front-page-header {
  background-color: #262D33;
  position: relative;
  padding-top: 30px;
}

.front-page-header::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #E5E5E5;
  width: 100%;
  height: 20%;
  z-index: 0;
}

.hero {
  display: flex;
  overflow: hidden;
  border-radius: 10px;
  min-height: 570px;
  background-color: #ffffff;
  position: relative;
  z-index: 1;
}

.hero .left {
  flex-basis: 75%;
  position: relative;
  padding: 55px 55px 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hero .left::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(64, 48, 61, 0.35);
  z-index: 1;
}

.hero .left .post-thumb {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 0;
  height: 100%;
}

.hero .left .author {
  display: flex;
  align-items: center;
  text-decoration: none;
  position: relative;
  z-index: 2;
}

.hero .left .author-bio {
  margin-left: 10px;
}

.hero .left .author-name {
  display: block;
  font-size: 14px;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.85);
}

.hero .left .author-rank {
  color: rgba(255, 255, 255, 0.4);
}

.hero .left .author .avatar {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.hero .left .post-text {
  position: relative;
  z-index: 2;
}

.hero .left .post-text .category-name {
  color: #4592FF;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 12px;
  line-height: 15px;
  text-decoration: none;
  letter-spacing: 0.5px;
  text-align: left;
}

.hero .left .post-text .post-title {
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: 0;
  text-align: left;
  color: #ffffff;
  font-family: "Roboto Slab";
  margin-top: 20px;
  margin-bottom: 50px;
}

.hero .left .post-text .more {
  display: inline-block;
  color: #ffffff;
  padding: 10px 50px 10px 20px;
  border-radius: 20px;
  background-color: #4592FF;
  text-decoration: none;
  background-image: url("../images/arrow.svg");
  background-repeat: no-repeat;
  background-position: center right 20px;
}

.hero .right {
  flex-basis: 25%;
}

.hero .right .recommend {
  margin: 20px 25px;
  font-weight: 900;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
}

.hero .right .posts-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.hero .right .posts-list .post {
  padding: 17px 25px 19px 25px;
  margin: 0;
  border-top: 1px solid #D9DADB;
  min-height: 99px;
  max-height: 100px;
}

.hero .right .posts-list .post:hover {
  background-color: #F5F5F5;
}

.hero .right .posts-list .post .recommend-category-name {
  font-weight: 900;
  font-size: 12px;
  line-height: 15px;
  letter: 0.5px;
  text-transform: uppercase;
}

.hero .right .posts-list .post .recommend-post-title {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  margin-bottom: 0;
  margin-top: 8px;
  min-height: 40px;
  font-size: 14px;
  align-items: center;
  color: #4B5157;
}
